html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font: 12px/1.3 Helvetica, Arial, sans-serif;
  min-height: 100%;
}

/* Разметка */
#layout {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
}

.layout-col {
  box-sizing: border-box;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  height: 100%;
}

.layout-col-head {
  flex-grow: 0;
}

.layout-col-content {
  flex-grow: 1;
  overflow-y: auto;
}

.layout-col {
  grid-template-rows: 1;
}

.layout-col-1 {
  grid-column: 1;
}

.layout-col-2 {
  grid-column: 2;
}

.layout-wide {
  grid-column: 3;
  grid-template-rows: 1;
}

.layout-wide {
  background: #eee;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1) inset;
}

/* Фильтры */
.radiogroup {
  display: flex;
  flex-direction: row;
}

.radiogroup input[type=checkbox],
.radiogroup input[type=radio] {
  left: -900em;
  position: absolute;
}

.radiogroup-item {
  border: solid 1px #ddd;
  border-right-width: 0;
  cursor: pointer;
  display: flex;
  line-height: 25px;
  padding: 0 10px;
  user-select: none;
}

.radiogroup-item:first-of-type {
  border-radius: 3px 0 0 3px;
}

.radiogroup-item:last-of-type {
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
}

input[type=checkbox]:checked + .radiogroup-item,
input[type=radio]:checked + .radiogroup-item {
  background: #eee;
}

/* Колонки */
.cities-filters {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  min-height: 50px;
  padding: 10px;
}

.cities-filters-name {
  margin-left: 30px;
  transform: scale(1.2);
}

/* Списки */
.cities {
  box-shadow: 0 5px 5px rgba(200, 200, 200, 0.2) inset;
}

.list-item {
  border-bottom: solid 1px #eee;
  padding: 0 10px;
  user-select: none;
}

/* Список слева */
.cities-all .list-item {
  align-items: center;
  display: flex;
}

.cities-all .list-item-features {
  display: none;
}

.cities-all .list-item-handle {
  border: solid #ccc;
  border-width: 0 2px;
  box-sizing: border-box;
  cursor: move;
  height: 20px;
  margin-right: 5px;
  width: 5px;
}

/* Список справа */
.cities-selected .list-item {
  font-size: 16px;
  position: relative;
}

.cities-selected .list-item-handle {
  border: solid #ccc;
  border-width: 2px 0;
  box-sizing: border-box;
  cursor: move;
  height: 5px;
  margin: 10px auto 0;
  width: 20px;
}

.cities-selected .list-item-weather {
  display: block;
  font-size: 24px;
}

.cities-selected .list-item-features {
  bottom: 22px;
  font-size: 18px;
  position: absolute;
  right: 10px;
}

/* Карта и всплывающее окно */
.map {
  position: relative;
}

.popup {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 0 120px 0 20px;
  position: absolute;
}

.popup-title-weather {
  display: block;
  font-size: 24px;
}

.popup-features {
  font-size: 24px;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 25px;
}

/* Сообщение об ошибке */
.error-message {
  font-size: 14px;
  padding: 0 10px;
}

.error-message-reset {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}
